.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess
application/config/database.php
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide/*
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel/*
application/ci_session/ci_session8d4c58ec169741d1f49c9bcdb07a725618e1fbad
application/ci_session/ci_session5ad887508db5aa6fc03b36aba881206ff23cd773
application/ci_session/ci_session99cca2c54febd045a27f8851bc38e6ae0982fc3a
application/ci_session/ci_session864411b485a6ab83ae48890cc7d1974d7b91ce72
